/* body {
  background-color: bisque;
}
.card {
  min-height: 300px;
  width: 300px;

  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px rgb(171, 164, 164), 0px 0px rgb(171, 164, 164);
}
.image img {
  border-radius: 10px 10px 0px 0;
}
.image {
  margin-bottom: 1em;
}
.cardDesc {
}
.title {
  display: flex;
  justify-content: center;
}
.desc {
  display: flex;
  justify-content: space-around;
} */

.image img {
  border-radius: 10px 10px 0px 0;
}
.card {
  display: flex;
  min-height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px rgb(171, 164, 164), 0px 0px rgb(171, 164, 164);
  flex-direction: column;
  align-items: center;
}
/* .cardDesc {
  min-width: 200px;
} */
.desc {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.title {
  display: flex;
  justify-content: center;
}
.listing {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: space-around;
}
